In [62]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [146]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)
odidata=[]
teams=[]
matchPoint=[]
matches= []
points = []
ratings = []
ranks = []
for i in soup.find_all('div', class_="rankings-block__container full rankings-table"):
    odidata.append(i.get_text().strip())

for i in soup.find_all('span', class_="u-hide-phablet"):
    if i.get_text()!='':
        teams.append(i.get_text().strip(''))

for i in soup.find_all('td', class_="rankings-block__banner--matches"):
    matchPoint.extend(i.get_text().split())
for i in soup.find_all('td', class_="rankings-block__banner--points"):
    matchPoint.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    matchPoint.append(i.get_text())
for i in range(0,len(matchPoint),2):
    matches.append(matchPoint[i])
    points.append(matchPoint[i+1])
    
for i in soup.find_all('td', class_="rankings-block__banner--rating u-text-right"):
    ratings.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.get_text())

for i in soup.find_all('td', class_="rankings-block__banner--pos"):
    ranks.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right"):
    ranks.append(i.get_text())   

df = pd.DataFrame(index = ranks)
df['TEAM'] = teams
df['MATCHES']=matches
df['POINTS']=points
df['RATING']=ratings
df.head(10)

            TEAM MATCHES POINTS RATING
1    New Zealand      17  2,054    121
2        England      32  3,793    119
3      Australia      28  3,244    116
4          India      32  3,624    113
5   South Africa      25  2,459     98
6       Pakistan      27  2,524     93
7     Bangladesh      30  2,740     91
8    West Indies      30  2,523     84
9      Sri Lanka      32  2,657     83
10   Afghanistan      17  1,054     62

In [147]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)
teams=[]
batsmen= []
ratings = []
ranks = []
for i in soup.find_all('div', class_="rankings-block__banner--name-large"):
    batsmen.append(i.get_text().strip(''))
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    batsmen.append(i.get_text().strip('\n'))

for i in soup.find_all('div', class_="rankings-block__banner--nationality"):
    teams.append(i.get_text().strip('\n    '))
for i in soup.find_all('span', class_="table-body__logo-text"):
    teams.append(i.get_text().strip())

for i in soup.find_all('div', class_="rankings-block__banner--rating"):
    ratings.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell rating"):
    ratings.append(i.get_text())

for i in soup.find_all('span', class_="rankings-block__pos-number"):
    ranks.extend(i.get_text().split())
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    ranks.append(i.get_text().split()[0]) 

df = pd.DataFrame(index = ranks)
df['PLAYER']=batsmen
df['TEAM'] = teams
df['RATING']=ratings
df.head(10)

             PLAYER TEAM RATING
1        Babar Azam  PAK    873
2       Virat Kohli  IND    844
3      Rohit Sharma  IND    813
4       Ross Taylor   NZ    801
5       Aaron Finch  AUS    779
6    Jonny Bairstow  ENG    775
7      David Warner  AUS    762
8         Shai Hope   WI    758
9   Kane Williamson   NZ    754
10  Quinton de Kock   SA    743

In [116]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.content)
teams=[]
bowlers= []
ratings = []
ranks = []
for i in soup.find_all('div', class_="rankings-block__banner--name-large"):
    bowlers.append(i.get_text().strip(''))
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    bowlers.append(i.get_text().strip('\n'))

for i in soup.find_all('div', class_="rankings-block__banner--nationality"):
    teams.append(i.get_text().strip('\n    '))
for i in soup.find_all('span', class_="table-body__logo-text"):
    teams.append(i.get_text().strip())
    
for i in soup.find_all('div', class_="rankings-block__banner--rating"):
    ratings.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell rating"):
    ratings.append(i.get_text())

for i in soup.find_all('span', class_="rankings-block__pos-number"):
    ranks.extend(i.get_text().split())
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    ranks.append(i.get_text().split()[0])
    
df = pd.DataFrame(index = ranks)
df['PLAYER']=bowlers
df['TEAM'] = teams
df['RATING']=ratings
df.head(10)

              PLAYER TEAM RATING
1        Trent Boult   NZ    737
2     Josh Hazlewood  AUS    709
3   Mujeeb Ur Rahman  AFG    708
4       Chris Woakes  ENG    700
5       Mehedi Hasan  BAN    692
6         Matt Henry   NZ    691
7     Jasprit Bumrah  IND    679
8     Mitchell Starc  AUS    652
9    Shakib Al Hasan  BAN    650
10     Kagiso Rabada   SA    643

In [138]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content)

teams=[]
matchPoint=[]
matches= []
points = []
ratings = []
ranks = []

for i in soup.find_all('span', class_="u-hide-phablet"):
    if i.get_text()!='':
        teams.append(i.get_text().strip(''))

for i in soup.find_all('td', class_="rankings-block__banner--matches"):
    matchPoint.extend(i.get_text().split())
for i in soup.find_all('td', class_="rankings-block__banner--points"):
    matchPoint.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    matchPoint.append(i.get_text())
for i in range(0,len(matchPoint),2):
    matches.append(matchPoint[i])
    points.append(matchPoint[i+1])
    
for i in soup.find_all('td', class_="rankings-block__banner--rating u-text-right"):
    ratings.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.get_text())

for i in soup.find_all('td', class_="rankings-block__banner--pos"):
    ranks.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right"):
    ranks.append(i.get_text())   

df = pd.DataFrame(index = ranks)
df['TEAM'] = teams
df['MATCHES']=matches
df['POINTS']=points
df['RATING']=ratings
df.head(10)

            TEAM MATCHES POINTS RATING
1      Australia      17  2,746    162
2   South Africa      19  2,307    121
3        England      18  2,148    119
4          India      17  1,899    112
5     Bangladesh       5    475     95
6    New Zealand      19  1,668     88
7    West Indies      19  1,658     87
8       Pakistan      18  1,226     68
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

In [145]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup = BeautifulSoup(page.content)

teams=[]
players= []
ratings = []
ranks = []
for i in soup.find_all('div', class_="rankings-block__banner--name-large"):
    players.append(i.get_text().strip(''))
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    players.append(i.get_text().strip('\n'))

for i in soup.find_all('div', class_="rankings-block__banner--nationality"):
    teams.append(i.get_text().strip())
for i in soup.find_all('span', class_="table-body__logo-text"):
    teams.append(i.get_text().strip())
    
for i in soup.find_all('div', class_="rankings-block__banner--rating"):
    ratings.extend(i.get_text().split())
for i in soup.find_all('td', class_="table-body__cell rating"):
    ratings.append(i.get_text())

for i in soup.find_all('span', class_="rankings-block__pos-number"):
    ranks.extend(i.get_text().split())
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    ranks.append(i.get_text().split()[0]) 
    
df = pd.DataFrame(index = ranks)
df['PLAYER']=players
df['TEAM'] = teams
df['RATING']=ratings
df.head(10)

               PLAYER TEAM RATING
1         Lizelle Lee   SA    761
2        Alyssa Healy  AUS    750
3         Mithali Raj  IND    738
4      Tammy Beaumont  ENG    728
5   Amy Satterthwaite   NZ    717
6     Smriti Mandhana  IND    710
7         Meg Lanning  AUS    699
8         Beth Mooney  AUS    690
9     Stafanie Taylor   WI    676
10     Heather Knight  ENG    674